base58==0.2.5
clamd==1.0.2
click==6.7
aiodns==1.1.1
aiohttp==2.3.1
eth-abi==1.1.1
eth-utils==1.0.3
web3==4.4.1
websockets==5.0.1
yara-python==3.7.0
git+https://github.com/polyswarm/malwarerepoclient.git#egg=malwarerepoclient
git+https://github.com/polyswarm/polyswarm-client.git#egg=polyswarm-client
